.contacts {
    width: 100%;
    height: 100%;
    background: url(about-bg.png) no-repeat center, #75b4aa;
    font-size: 16px;
}

.contacts__text-block {
    margin-bottom: 105px;
}

.contacts__info {
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 1.3;
    margin-bottom: 85px;
}

.contacts__info-item {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 270px;
}

.contacts__location-header {
        font-size: 30px;
    margin-bottom: 26px;
}

.contacts__location-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.contacts__location-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__location-info__company-name {
    font-size: 20px;
    color: #c0dfda;
    margin-bottom: 9px;
}

.contacts__location-info__company-address{
    line-height: 1.5;
}

.contacts__location-info__company-contacts td:first-child {
    color: #d0efea;
}

.contacts__form {
    height: 350px;
}

.input-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.input {
    border-radius: 4px;
    background-color: rgb( 104, 160, 151);
    border: none;
    padding-left: 20px;
}

.input:focus {
    background: white;
    color: #82c8bd;
}

::placeholder {
     color: #82c8bd;
}

.input-block *{
    height: 40px;
    width: 48%;
}

.form__input-text {
    width: 100%;
    padding-top: 10px;
    height: 160px;
    resize: none;
    margin-bottom: 35px;
}

.form__intput-btn {
    width: 260px;
    border-radius: 4px;
    background-color: rgb( 223, 92, 100 );
    border: none;
    height: 45px;
    font-size: 26px;
    font-weight: 400;
    box-shadow: 0px 4px 4px 0px rgba(178, 74, 80, 1);
    color: white;
}